appdirs==1.4.4
asgiref==3.8.1
autoslug==1.0.5
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
colorama==0.4.6
cryptography==44.0.3
Django==5.1.7
django-crontab==0.7.1
Faker==37.1.0
fs==2.4.16
gunicorn==23.0.0
idna==3.10
inflection==0.5.1
jwt==1.3.1
modules==1.0.0
mysqlclient==2.2.7
packaging==25.0
pillow==11.1.0
pycparser==2.22
pymemcache==4.0.0
requests==2.32.3
signals==0.0.2
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
typing_extensions==4.13.2
tzdata==2025.2
unicode-slugify==0.1.5
Unidecode==1.3.8
urllib3==2.4.0
