{% load static %}

<div class="ui-outer" id="question-{{ question.id }}">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-2 col-sm-2 col-xs-2 col-pad">
							<div class="ui-block">
                            <div>
                            <img class="ui-logo" src={{ question.user.profile.avatar.url }} alt="Аватар">
                            </div>
							<div class="article-content-block-user-name">{{ question.user.profile.name }}</div>
							</div>
						</div>
						<div class="col-md-7 col-sm-7 col-xs-7 col-pad">
							<div class="ui-content">
								<h4>{{ question.title }}</h4>
								<p>{{ question.text }}</p><br>
                               <div class="ui-content-block">
								<div class="qty">
									<button
										{% if user.is_authenticated %} onclick="rateObject({{ question.id }}, 'like', 'question')" {% endif %}
										class="plus {% if question.id in likes %}plus-active{% endif %}"
									>&#128402;</button>

									<input id="question-like-{{ question.id }}" disabled type="number" class="count" value="{{ question.count_likes }}">

									<button
										{% if user.is_authenticated %} onclick="rateObject({{ question.id }}, 'dislike', 'question')" {% endif %}
										class="minus {% if question.id in dislikes %}minus-active{% endif %}"
									>&#128403;</button>

									<input id="question-dislike-{{ question.id }}" disabled type="number" class="count" value="{{ question.count_dislikes }}">
								</div>
                                <div>
                                <span class="ui-content-block-comments"><b>Комментарии: {{ question.count_comments }}</b></span>
                                </div>
                                </div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-3 col-pad">
				                <div class="article-content-block-tags"><h5>Теги вопроса</h5>
				                <hr>
								<ul>
									{% for tag in question.tags.all %}
								    <li><a href={% url 'tag' tag.pk %}>{{ tag.title }}</a></li>
									{% endfor %}
								</ul>
								</div>
							<div class="ui-btn">
								<a href={% url 'question' question.id %} class="btn btn-green ui-green">Перейти</a>
							</div>
						</div>
					</div>
				</div>
			</div>