{% extends "layouts/base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block heading %}
Задать вопрос
{% endblock %}
{% block content %}
    <div class="container-fluid">
	<div class="row">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-8">
        		            <form>
                              <div class="form-group row ask-answer-heading">
                                <label for="text" class="col-12 col-form-label">Заголовок вопроса</label> 
                                <div class="col-12">
                                  <input id="text" name="text" placeholder="" class="form-control here" required="required" type="text">
                                </div>
                              </div>
                              <div class="form-group row ask-answer-text">
                                <label for="textarea" class="col-12 col-form-label">Текст вопроса</label> 
                                <div class="col-12">
                                  <textarea id="textarea" name="textarea" cols="40" rows="15" class="form-control"></textarea>
                                </div>
                              </div> 
                            </form>
        		        </div>
        		        <div class="col-md-4 ">
                            <div class="card mb-3 ask-answer-tags" style="max-width: 18rem;">
                                  <div class="card-header">Теги</div>
                                  <div class="card-body">
                                    <form>
                                      <div class="form-group row">
                                        <div class="col-9">
                                          <input id="tags" name="tags" placeholder="" required="required" class="form-control here" type="text">
                                        </div>
                                        <div class=" col-2">
                                          <button name="submit" type="submit" class="btn">+</button>
                                        </div>
                                      </div> 
                                    </form>
                                  </div>
                                </div> 
        		        </div>
        		        <div class="col-md-7">
		                    <button type="button" class="ask-answer-btn">Отправить</button>
		                </div>
        		    </div>
		</div>
	</div>
</div>
{% endblock %}