{% extends "layouts/base.html" %}
{% block title %}
{{ title }}
{% endblock %}
{% block scripts %}
function rateObject(objectId, action, type) {
    $.ajax({
        url: '/api/rate/',
        type: 'POST',
        data: {
            'id': objectId,
            'action': action,
            'type': type,
            'csrfmiddlewaretoken': getCookie('csrftoken')
        },
        success: function(response) {
            if (response.error) {
                alert(response.error);
            } else {
                const prefix = type === 'question' ? 'question' : 'answer';
                const containerId = type === 'question' ? '#question-' + objectId : '#comment-' + objectId;

                $('#' + prefix + '-like-' + objectId).val(response.count_likes);
                $('#' + prefix + '-dislike-' + objectId).val(response.count_dislikes);

                const plus = $(containerId + ' .plus');
                const minus = $(containerId + ' .minus');

                if (action === 'like') {
                    if (plus.hasClass('plus-active')) {
                        plus.removeClass('plus-active');
                    } else {
                        plus.addClass('plus-active');
                        minus.removeClass('minus-active');
                    }
                } else {
                    if (minus.hasClass('minus-active')) {
                        minus.removeClass('minus-active');
                    } else {
                        minus.addClass('minus-active');
                        plus.removeClass('plus-active');
                    }
                }
            }
        },
        error: function(xhr, status, error) {
            alert('Произошла ошибка: ' + error);
        }
    });
}

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
{% endblock %}
{% block heading %}
Новые вопросы
<a href={% url 'hot' %}>Популярное</a>
{% endblock %}
{% block content %}
{% for question in page_obj %}
    {% include "layouts/question.html" %}
{% endfor %}
{% include "layouts/pagination.html" %}
{% endblock %}