{% extends "layouts/base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block heading %}
Войти
{% endblock %}

{% block content %}
<form class="form col-5 login-block" role="form">
<div class="error-message">Неправильный пароль!</div>
<div class="form-group">
<label class="control-label mb-2">Логин</label>
<input type="text" class="form-control mb-2" placeholder="Введите логин">
</div>
<div class="form-group">
<label class="control-label mb-2">Пароль</label>
<input type="password" class="form-control mb-3" placeholder="Введите пароль">
</div>
<div class="form-group">
<div class="checkbox">
</div>
</div>
<div class="form-group">
<a href={% url 'index' %} class="ask-answer-btn">Войти</a>&nbsp;
<a href={% url 'signup' %} class="ask-answer-btn">Создать аккаунт</a>
</div>
</form>
{% endblock %}