{% extends "layouts/base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block heading %}
Настройки профиля
{% endblock %}
{% block content %}
<form class="form col-5" role="form">
<div class="form-group">
<label class="control-label mb-2">Логин</label>
<input type="text" class="form-control mb-2" placeholder="login">
</div>
<div class="form-group">
<label class="control-label mb-2">Электроная почта</label>
<input type="text" class="form-control mb-2" placeholder="username@mail.ru">
</div>
<div class="form-group">
<label class="control-label mb-2">Псевдоним</label>
<input type="text" class="form-control mb-2" placeholder="username">
</div>
<div class="form-group mb-4">
  <label for="formFile" class="form-label mb-2">Загрузите аватар</label>
  <div class="settings-profile-logo">
    <a href="#"></a>							
</div>
  <input class="form-control" type="file" id="formFile">
</div>
<div class="form-group">
<div class="checkbox">
</div>
</div>
<div class="form-group">
<a href={% url 'index' %} class="ask-answer-btn">Сохранить</a>
</div>
</form>
{% endblock %}