{% extends "layouts/base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block heading %}
Регистрация
{% endblock %}
{% block content %}
<form method="post" class="mt-4" enctype="multipart/form-data" novalidate>
<div class="container-fluid">
<div class="row">
<div class="card-body">
<div class="row">
<div class="col-md-8">

{% csrf_token %}
<div class="error-message">{{ form.non_field_errors }}</div>

{% for f in form %}
<div class="form-group col-8">
   <label class="control-label mb-2" for="{{ f.id_for_label }}">{{ f.label }}</label>
   {{ f }}
   <div class="error-message">{{ f.errors }}</div>
</div>
{% endfor %}

<div class="form-group">
    <button type="submit" class="ask-answer-btn">Создать аккаунт</button>
</div>

</div>
</div>
</div>
</div>
</div>
</form>
{% endblock %}